inst/doc
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.DS_Store
src/*.o
src/*.so
src/*.dll
data-raw/*
!data-raw/*.R
!data-raw/country_code_data
scraps/
localdb/
artifacts
tests/testthat/localdb
docs
*_cache
doc
Meta
*.wal
